.App-logo {
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-title {
  font-size: 1.5em;
}

.App-header {
  background-color: #222;
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 40px;
  color: white;
  text-align: center;
}
